<nav class="navbar navbar-dark bg-dark p-0 sticky-top">
  <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
      <!-- <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> -->
      <span class="navbar-brand text-white text-decoration-none px-3 fs-4 fw-bold">RedstoneStart</span>
  </div>
  <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0 px-3">
      <div class="dropdown">
        <a class="text-white dropdown-toggle text-decoration-none" type="button" id="dropdownAccount"
        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            <strong>{{ user.email }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownAccount">
            <li>
                <a class="dropdown-item" href="{% url 'details_info' %}">
                    <span class="mdi mdi-account"></span> Account Details
                </a>
            </li>
            <li>
                <a class="dropdown-item disabled" href="#">
                    <span class="mdi mdi-tune"></span> Settings
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form method="POST" action="{% url 'auth_logout' %}">
                {% csrf_token %}
                <button class="dropdown-item link-danger btn btn-outline-danger" type="submit">
                    <span class="mdi mdi-logout"></span> Logout
                </button>
                </form>
            </li>
        </ul>
    </div>
  </div>
</nav>