
<div class="d-flex flex-column flex-shrink-0 border-end bg-light" id="sidebar">
    <ul class="nav flex-column mb-auto">
        <span class="m-3 mb-2 text-secondary">Home</span>
        <li class="nav-item">
            <a class="nav-link {% if page_title == 'dasboard'%} active {% endif %} disabled" href="#">
                <span class="mdi mdi-speedometer"></span> Dashboard
            </a>
        </li>
        <span class="m-3 mb-2 text-secondary">Management</span>
        <li class="nav-item">
            <a class="nav-link {% if page_title == 'player_manager'%} active {% endif %}" href="/playermanager">
                <span class="mdi mdi-account-multiple"></span> Player List
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page_title == 'server_manager'%} active {% endif %}" href="/servermanager">
                <span class="mdi mdi-server"></span> Server List
            </a>
        </li>
    </ul>
</div>
