{% extends 'base_clean.html' %}

{% block bodydoc %}

    
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-success" role="alert">
        {% endif %}
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="signup-signin-container">
    <h3 class="mb-3"><strong>RedstoneStart</strong></h3>
    <h5 class="mb-4">Insert your email for password reset</h5>
    <form id="user_forgot_password" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="mb-3 form-floating">
            <input class="form-control" type="email" name="email" id="id_email" placeholder="email" required>
            <label for="email " class="form-label">Email<span class="text-danger">*</span></label>
            {% for error in form.email.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        
        <div class="mb-5">
            <button type="submit" class="form-control md-3 btn btn-primary">
                Reset Password
            </button>
        </div>
    </form>
    <div class="text-center">
        <small>
            Remember the account? <a class="text-decoration-none" href="{% url 'auth_login' %}">Sign In</a>
        </small>
    </div>

</div>

<script>
    $("#email").on("input", () => {
        const email = $("#email").val();
        const email_regex = /^[\w\-\.]+@([\w-]+\.)+[\w-]{2,}$/gm;

        if(email_regex.exec(email)){
            $("#email").removeClass("is-invalid");
            $("#match-email-alert").hide();
        }else{
            $("#email").addClass("is-invalid");
            $("#match-email-alert").show();
        }
    });
</script>

{% endblock %}