{% extends 'base_clean.html' %}

{% block bodydoc %}

<div id="content container" style="width: 23rem; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% endif %}
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <form class="login_form" action="{% url 'auth_login' %}" method="post">
        {% csrf_token %}
        <h1 class="mb-3 fw-bold text-center">RedstoneStart</h1>
        <h3 class="mb-5 text-center">Sign into your account</h3>
        <div class="form-floating">
            <input class="form-control" type="text" name="username" id="username" placeholder="username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="password" name="password" id="password" placeholder="password">
            <label for="password">Password</label>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="checkbox" name="remember-me" id="remember-me" value="remember me">
                <label for="remember-me">Remember me</label>    
            </div>
            <a class="col text-end text-decoration-none disabled" href="">Forgot password?</a>
        </div>
        <div class="mb-5">
            <input type="submit" class="form-control md-3 btn btn-primary" value="Sign In">
        </div>
        <div class="text-center">
            <small>
                Do not have an account? <a class="text-decoration-none" href="{% url 'auth_register' %}">Sign Up</a>
            </small>
        </div>
    </form>

</div>

<script>
</script>

{% endblock %}