{% extends 'base_clean.html' %}

{% block bodydoc %}

<div id="content container ">

    <div class="card" style="width: 18rem; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
        <div class="card-header">
            <strong>User Login</strong>
        </div>
        <div class="card-body">
            <form id="player_join_server" action="{% url 'auth_login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input class="form-control" type="text" name="username" id="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>
                <div class="mb-3">
                    <input type="submit" class="form-control md-3 btn btn-primary" value="Login">
                </div>
            </form>
        </div>
    </div>

</div>

<script>
</script>

{% endblock %}