{% extends 'base_clean.html' %}

{% block bodydoc %}

<div class="invite-container">

    {% if invite_code %}
    <h3>
        <strong>You have been invited!</strong>
    </h3>
    <form id="player_join_server" action="{% url 'player_join_server' %}" method="post">
        {% csrf_token %}
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="player-name" name="player-name" placeholder="player-name" required>
            <label for="player-name" class="col-form-label">Player Name</label>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="invite-code" name="invite-code" value="{{ invite_code }}" hidden>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
    {% else %}
    <h1>
        404
    </h1>
    <h3>
        Invite code not found!
    </h3>
    {% endif %}
</div>

<script>
    $("#player_join_server").submit(event => {
        alert("Join request has been sent!")
    });
</script>

{% endblock %}