{% extends 'base_clean.html' %}

{% block bodydoc %}

<div class="invite-container">

    {% if invite_code %}
    <div  class="mb-5 text-center">
        <h3>
            You have been invited to:
        </h3>
        <h1>
            <strong>{{ server_name }}</strong>
        </h1>
    </div>
    <form id="player_join_server" action="{% url 'player_join_server' %}" method="post">
        {% csrf_token %}
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="player-name" name="player-name" placeholder="player-name" required>
            <label for="player-name" class="col-form-label">Player Name</label>
        </div>
        <div class="mb-4">
            <input type="text" class="form-control" id="invite-code" name="invite-code" value="{{ invite_code }}" hidden>
        </div>
        <div class="mb-3">
            <input type="submit" class="form-control btn btn-primary" value="Join Server">
        </div>
    </form>
    {% else %}
    <div class="text-center">
        <h2>
            <strong>404 - Invalid invite link!</strong>
        </h2>
        <p>
            Ask the server owner to give you the correct ones!
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}