{% extends 'base.html' %}

{% block bodydoc %}

<div id="content">

    {% if server_list %}
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% for server in server_list %}
                        <li class="nav-item">
                            <a href="{% url 'player_list' %}?server_id={{server.id}}" class="nav-link {% if server.active %} active {% endif %}">
                                {{ server.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <select class="form-select" aria-label="Status select" id="status-select">
                            <option value="ALL">All</option>
                            <option value="OUTSTANDING">Outstanding</option>
                            <option value="BANNED">Banned</option>
                            <option value="FAILED">Failed</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text mdi mdi-magnify" id="basic-addon1"></span>
                            <input id="search-username-input" type="text"
                            class="form-control" placeholder="Search username"
                            aria-label="Search username" aria-describedby="basic-addon1"
                            data-bs-curr-server-id="{{ curr_server_id }}"
                            value="{{ curr_username_target }}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addplayermodal">
                                <span class="mdi mdi-plus-circle-outline"> Add Player
                            </button>    
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <th>Player Name</th>
                        <th>Join Date</th>
                        <th>Status</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for player_server in player_server_list %}
                        <tr>
                            <td class="">{{ player_server.name }}</td>
                            <td>{{ player_server.joined_at }}</td>
                            <td>
                            {% if player_server.status == "BANNED"%}
                                <span class="badge text-bg-danger">Banned</span>
                            {% elif player_server.status == "FAILED" %}
                                <span class="badge text-bg-warning">Failed</span>
                            {% else %}
                                <span class="badge text-bg-primary">Outstanding</span>
                            {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-outline-primary"
                                data-bs-toggle="modal" data-bs-target="#detailplayermodal"
                                data-bs-player-url="{% url 'player_details' player_server.id %}"
                                data-bs-player-server-id="{{ player_server.id }}">
                                    Details
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if not player_server_list %}
                <div class="container text-center">
                    <br>
                    <p>
                        Data Empty
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center">
            <p>No server found, <a href="{% url 'server_list' %}" class="link-primary">click here to add new server</a></p>
        </div>
    {% endif %}

</div>

<div id="addplayermodal" class="modal fade" tabindex="-1" aria-labelledby="addplayermodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addplayermodallabel">Add Player</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'player_list' %}" method="post" id="add-player-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="player-name" class="col-form-label">Player Name:</label>
                        <input type="text" class="form-control" id="player-name-add" name="player-name" maxlength="16" required>
                    </div>
                    <div class="mb-3">
                        <label for="server-target" class="col-form-label">Server Name:</label>
                        <select class="form-select" name="server-target" id="server-target-add" required>
                            {% for server in server_list%}
                                <option value="{{ server.id }}" {% if server.active %} selected {% endif %}>
                                    {{ server.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" id="add-player-btn" form="add-player-form">Add Player</button>
            </div>
        </div>
    </div>
</div>

<div id="detailplayermodal" class="modal fade" tabindex="-1" aria-labelledby="detailplayermodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="detailplayermodallabel">Player Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="player-name" class="col-form-label">Player Name:</label>
                    <input type="text" class="form-control" id="player-name-edit" name="player-name" disabled>    
                </div>
                <div class="mb-3">
                    <label for="join-date" class="col-form-label">Joined Since:</label>
                    <input type="text" class="form-control" id="join-date-edit" name="join-date" disabled>
                </div>
                <div class="mb-3">
                    <label for="join-date" class="col-form-label">Status:</label>
                    <span id="detail-status-banned" class="badge text-bg-danger" style="display: none;">Banned</span>
                    <span id="detail-status-failed" class="badge text-bg-warning" style="display: none;">Failed</span>
                    <span id="detail-status-outstanding" class="badge text-bg-primary" style="display: none;">Outstanding</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="ban-player-btn" onclick="banPlayer()" style="display: none;"><span class="mdi mdi-cancel"></span> Ban</button>
                <button type="button" class="btn btn-primary" id="unban-player-btn" onclick="unbanPlayer()" style="display: none;"><span class="mdi mdi-information-box-outline"></span> Unban</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete-player-btn" onclick="deletePlayer()"><span class="mdi mdi-trash-can-outline"></span> Remove</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("document").ready(() => {
        const detail_modal = $("#detailplayermodal");
        detail_modal.on("show.bs.modal", detailPlayer);

        const search_username = $("#search-username-input");
        search_username.keypress(searchUsername);

    });

    function filterUsername(event) {
        const status_val = $(this.id).val();
    }

    function searchUsername(event) {
        const curr_server_id = $(event.relatedTarget).attr("data-bs-curr-server-id");
        const target_name = $(this).val()
        // let target_url = "{% url 'player_list' %}?"
        let curr_url = $(location).attr("href");
        let target_url = curr_url.split("?")[0];
        let query_url_str = (curr_url.split("?").length > 1)? curr_url.split("?")[1]:"";
        let query_url_list = (query_url_str)?query_url_str.split("&"):[];


        if (event.keyCode == 13){
            if (curr_server_id) target_url += "server_id="+curr_server_id+"&"
            if (target_name) target_url += "username="+target_name+"&"
            console.log(curr_server_id + " -- " + target_name)
            location.href = target_url
        }
    }

    async function detailPlayer(event) {
        const player_url = event.relatedTarget.getAttribute('data-bs-player-url');
        const delete_player_btn = $("#delete-player-btn");
        const ban_player_btn = $("#ban-player-btn");
        const unban_player_btn = $("#unban-player-btn");
        const curr_player_server_id = event.relatedTarget.getAttribute("data-bs-player-server-id");

        try{
            const resp = await fetch(player_url);
            if (!resp.ok) {
                throw new Error(`Resp status: ${resp.status}`);
            }

            const resp_data = await resp.json();

            const player_name_form = $("#player-name-edit");
            player_name_form.val(resp_data["name"]);

            const join_date_form = $("#join-date-edit");
            join_date_form.val(resp_data["created_at"]);

            let curr_player_status = "";
            const server_list = resp_data["server_list"];
            for(let server of server_list){
                
                console.log(player_url+" >> "+JSON.stringify(server_list))
                if(server["server_player_id"].toString() !== curr_player_server_id.toString()) continue;

                curr_player_status = server["player_status"];
                break;
            }

            const status_outstanding_label = $("#detail-status-outstanding")
            const status_banned_label = $("#detail-status-banned")
            const status_failed_label = $("#detail-status-failed")
            switch(curr_player_status){
                case "BANNED":
                    unban_player_btn.show();
                    ban_player_btn.hide();

                    status_outstanding_label.hide();
                    status_banned_label.show();
                    status_failed_label.hide();
                    break;
                case "FAILED":
                    unban_player_btn.hide();
                    ban_player_btn.show();

                    status_outstanding_label.hide();
                    status_banned_label.hide();
                    status_failed_label.show();
                    break;
                default:
                    unban_player_btn.hide();
                    ban_player_btn.show();

                    status_outstanding_label.show();
                    status_banned_label.hide();
                    status_failed_label.hide();
            }

            ban_player_btn.data("data-bs-player-server-id", curr_player_server_id);
            unban_player_btn.data("data-bs-player-server-id", curr_player_server_id);
            delete_player_btn.data("data-bs-player-url", player_url);

        }catch(err){
            console.log(err.message);
        }
    }

    function banPlayer(){
        const ban_player_url = "{% url 'player_server_ban' %}";
        const player_server_id = $("#ban-player-btn").data("data-bs-player-server-id");
        console.log(player_server_id)
        const ban_question = "What is the reason for the ban?";
        const ban_answer = prompt(ban_question, "Banned by an operator");
        const csrf_token = getcsrftoken();

        if(!ban_answer){
            return;
        }
        const body_data = {
            "player-server-id": player_server_id,
            "reason-text": ban_answer 
        }
        const headers = {
            "X-CSRFToken": csrf_token
        }
        const done = $.ajax({
            "url": ban_player_url,
            "method": "POST",
            "headers": headers,
            "data": body_data
        }).done(data => {
            // abort of failed from server
            if(!data.banned){
                alert("Error: failed to ban player from the server")
                return
            }

            location.reload()
            
        }).fail(() => {
            alert("Error: failed to ban player")
        })
    }

    function unbanPlayer(){
        const unban_player_url = "{% url 'player_server_unban' %}";
        const player_server_id = $("#unban-player-btn").data("data-bs-player-server-id");
        const confirm_text = "Are you sure do you want to unban this player from this server?";
        const csrf_token = getcsrftoken();
        
        if(!confirm(confirm_text)){
            return;
        }
        const body_data = {
            "player-server-id": player_server_id,
        }
        const headers = {
            "X-CSRFToken": csrf_token
        }
        const done = $.ajax({
            "url": unban_player_url,
            "method": "POST",
            "headers": headers,
            "data": body_data
        }).done(data => {
            // abort of failed from server
            if(!data.unbanned){
                alert("Error: failed to unban player from the server")
                return
            }

            location.reload()
            
        }).fail(() => {
            alert("Error: failed to unban player")
        })
    }

    function deletePlayer(){
        const delete_server_url = $("#delete-player-btn").data("data-bs-player-url");
        const confirm_text = "Are you sure do you want to remove this player from this server?";
        const csrf_token = getcsrftoken();
        
        if(!confirm(confirm_text)){
            return;
        }

        const headers = {
            "X-CSRFToken": csrf_token
        }
        const done = $.ajax({
            "url": delete_server_url,
            "method": "DELETE",
            "headers": headers
        }).done(data => {
            // abort of failed from server
            if(!data.deleted){
                alert("Error: failed to delete server")
                return
            }
            
            // refresh page after delete success
            location.reload()
        }).fail(() => {
            alert("Error: failed to delete server")
        })
    }

    function getcsrftoken(){
        const cookies = document.cookie.split(";");

        let csrf_token = "";
        for(let cookie of cookies){
            cookie = cookie.trim();
            const cookie_key = cookie.split("=")[0];
            const cookie_val = cookie.split("=")[1];

            if(cookie_key == "csrftoken"){
                csrf_token = cookie_val
                break
            }

        }

        return csrf_token;
    }
</script>

{% endblock %}