
body {
    font-family: sans-serif;
    /* overflow-x: hidden; */
    /* background: #fafafa; */
}

#sidebar {
    /* height: 100vh; */
    height: -moz-calc(100vh - 72px);
    height: -webkit-calc(100vh - 72px);
    height: calc(100vh - 72px);
}