
body {
    font-family: sans-serif;
    /* overflow-x: hidden; */
    /* background: #fafafa; */
}

#sidebar {
    width: 280px;
    /* height: 100vh;
    height: -moz-calc(100vh - 72px);
    height: -webkit-calc(100vh - 72px);
    height: calc(100vh - 72px); */
}

#mainsect {
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    height: 100vh;
}

.login_form .form-floating:focus-within {
    z-index: 2;
}

.login_form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login_form input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signup-signin-notify {
    width: 23rem;
    position:absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.signup-signin-container {
    width: 23rem;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}